body {
    background-color: #7aa7ef;
}

.formcont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.formcont .box {
    padding: 10px;
    background-color: green;
}

.box input {
    margin-top: 5px;
}

